body {
  font-family: 'Comfortaa', cursive;
  background-image: url(/assets/img/bg.png);
}

.mb-50 {
  margin-bottom: 50px;
}

.btn {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
  font-weight: bold;
}

.btn-animated:hover {
  /* background: white; */
  background: #1d2124;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  transform: translateY(-3px);
  /* color: #007bff; // primary */
  /* color: #dae0e5; // light */
  color: #ffc107;
}

.card-animation {
  animation: FormAnimation;
  animation-duration: 1s;

}

.card {
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

@keyframes FormAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
